@font-face {
  font-family: 'JalnanGothic';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_231029@1.1/JalnanGothic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  }

  @font-face {
    font-family: 'yg-jalnan';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_four@1.2/JalnanOTF00.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  ::-webkit-scrollbar {
    width: 10px; /* 스크롤바 너비 */
    height: 4px; /* 가로 스크롤바 높이 */
  }

  /* 스크롤바 핸들 */
  ::-webkit-scrollbar-thumb {
    background-color: #ccc; /* 핸들 색상 */
    border-radius: 8px; /* 핸들 둥글게 */
    border: 2px solid #333333; /* 핸들 테두리 */
  }

  /* 스크롤바 핸들 호버 시 색상 변경 */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #fffddf; /* 호버 시 핸들 색상 */
  }

  body {
    box-sizing: border-box;
    margin: 0;
    padding: 20px;
    padding-bottom: 0;
    display: flex;
    font-family: 'Noto Sans KR', sans-serif;
    flex-direction: column;
    align-items: center;
    background-color: #333333;
    scroll-behavior: smooth;
  }

  /* Title */
  h1 {
    font-size: 48px;
    font-family: 'yg-jalnan';
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #fffddf;
  }

  hr {
    width: 80%;
    height: 1px;
    background-color: #fffddf;
    border: none;
    margin-bottom: 50px;
  }

  /* Portfolio container */
  .portfolio-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 65%;
    overflow: hidden;
  }

  /* Project card */
  .project {
    background: transparent;
    border: 1px solid #fffddf;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: left;
    transition: 0.3s;
  }

  .project h2 {
    font-size: 22px;
    margin: 0 0 10px;
    font-family: 'JalnanGothic';
    font-weight: 500;
    margin-bottom: 10px;
    color: rgb(27, 27, 27);
    padding: 5px 5px 0px 5px;
    border-radius: 5px;
    background-color: #fff89d;
  }

  .titleBox {
    display: flex;
    justify-content: space-between;
  }

  strong {
  font-size: 1.1em; /* 원하는 크기로 조정 (기본 크기의 80%) */
  }

  .date {
    padding: 10px 5px 0px 5px;
    font-size: 14px;
    color: #c5c5c5;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .explain {
    color: #fffddf;
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .content {
    margin-top: 5px;
    font-size: 14px;
  }
  
  ul {
    margin-bottom: 0;
    margin-top: 10px;
    padding-left: 20px;
    color: #fffddf;
  }

  .bottom {
    display: flex;
    justify-content: space-between;
  }

  .web {
    margin: 0;
    display: flex;
    align-items: center;
  }

  .icon {
    width: 10px;
    height: 10px;
    margin-right: 5px;
  }

  a {
    color: rgb(161, 218, 255);
  }

  .box {
    border: 1px solid #fffddf;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: auto;
  }

  /* README button */
  .readme-btn {
    padding: 8px 10px;
    border: 1px solid #fffddf;
    color: #fffddf;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
    float: right;
    background: transparent;
  }

  .readme-btn:hover {
    background-color: #fffddf;
    color: black;
  }

  /* Modal styling */
  .modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    width: 80%;
    max-width: 500px;
    border-radius: 8px;
    text-align: left;
  }

  .modal-content h2 {
    margin-top: 0;
  }

  .modal-content img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }

  .close-btn {
    background-color: white;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
    float: right;
    font-size: 20px;
    padding: 0;
  }

  .close-btn img {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  footer {
    background-color: #1a1a1a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin-top: 60px;
    width: 100%;
  }

  @media (max-width: 768px) {
    body {
      padding: 10px;
      padding-bottom: 0;
    }

    hr {
      width: 90%;
    }

    .portfolio-container {
      width: 90%;
      grid-template-columns: 1fr;
    }

    .titleBox {
      flex-direction: column;
    }

    .project h2 {
      font-size: 20px;
      margin: 0;
      display: inline-flex; /* 인라인 레벨로 처리 */
      width: fit-content;
    }

    .date {
      margin-top: 0;
    }

    .project {
      padding: 15px;
    }

    .bottom {
      flex-direction: column;
      align-items: center;
    }

    .readme-btn {
      margin-top: 10px;
      width: 30%;
    }

    .close-btn {
      width: 14px;
      height: 14px;
    }

    footer {
      width: 100vw;
      padding: 10px 0;
      font-size: 12px;
    }
  }